# Byte-compiled / optimized / DLL files
*__pycache__
__init__.py
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.venv/
env/
ENV/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
pytest_cache/

# PyCharm / VS Code
.idea/
.vscode/

# Environment variables
.env
.env.*

# Mypy / static type checker
.mypy_cache/

# Python Files
main.py